*.class
*.log

# sbt specific
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet

# Scala Emacs specific
.ensime_cache

# OSX
.DS_Store

# ??
didymus-tcplocalhost1883

target
project/target
